apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-restore-config
  namespace: {{ namespace | default("default") }}
data:
  restore.sql: |
{% for line in lookup('file', restore_sql_file).split('\n') %}
    {{ line }}
{% endfor %}
