replicaCount: 1
image:
  repository: postgres
  tag: "15"
postgres:
  db: class_schedule
  user: "{{ DB_USERNAME }}"
  password: "{{ DB_PASSWORD }}"
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
service:
  type: ClusterIP
  port: 5432
imagePullSecrets:
  - name: "{{ registry_secret_name }}"