apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      nodeSelector:
        node-role: frontend
      imagePullSecrets:
        - name: regcred
      containers:
        - name: frontend
          image: {{ frontend_image }}
          ports:
            - containerPort: {{ frontend_port }}
          env:
            - name: BACKEND_IP
              value: {{ backend_url }}