replicaCount: {{ redis.replicaCount }}

image:
  repository: {{ image.repository }}
  tag: {{ image.tag }}
  pullPolicy: {{ image.pullPolicy }}

service:
  type: {{ service.type }}
  port: {{ service.port }}